<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../../partials/head', { title: 'Cadastrar Aluno' }) %>
  <%- include('../../partials/headerGestao', { activePage: '' }) %>

  <body>
    <div class="container">
        <div class="card w-75 shadow m-5" style="padding: 40px;">
            <a href="/homeGestao" class="text-dark">
                <h3><i class="bi bi-arrow-left"></i></h3>
            </a>
            <h2 style="font-family: Inter; font-style: italic; text-align: center; margin-bottom: 60px;">Cadastrar Novo Aluno</h2>
            <form action='/cadastroAluno' method="post">
    
                <div class="d-flex">
                    <div class="form-group w-50 mr-4">
                        <label for="nome_aluno">Nome Completo</label>
                        <div>
                            <input type="text" class="form-control w-100" id="nome_aluno" name="nome_aluno" required> 
                        </div>
                    </div>
                    <div class="form-group w-25 mr-4">
                        <label for="cpf">CPF</label>
                        <div class="d-flex justify-content-between">
                            <input type="text" class="form-control" id="cpf" name="cpf" required>
                        </div>
                    </div>

                    <div class="form-group w-50">
                        <label for="data_nasc">Data de Nascimento</label>
                        <input type="date" class="form-control w-100" id="data_nasc" name="data_nasc" required> 
                    </div>
                </div>

                <div class="d-flex">
                    <div class="form-group w-50 mr-4">
                        <label for="tel_aluno">Telefone</label>
                        <div>
                            <input type="text" class="form-control w-100" id="tel_aluno" name="tel_aluno" required>
                        </div>
                    </div>
                    <div class="form-group w-25 mr-4">
                        <label for="rm">RM</label>
                        <div class="d-flex justify-content-between">
                            <input type="text" class="form-control" id="rm" name="rm" required>
                        </div>
                    </div>

                    <div class="form-group w-50">
                        <label for="email_aluno">Email</label>
                        <input type="email" class="form-control w-100" id="email_aluno" name="email_aluno" required> 
                    </div>
                </div>

                <div class="d-flex">
                    <div class="form-group w-50 mr-4">
                        <label for="cod_curso">Curso</label>
                        <select class="form-select w-100 h-50 text-muted" aria-label="Default select example" id="cod_curso" name="cod_curso" onchange="updateTurmas()" required>
                            <option selected>Selecione o Curso</option>
                            <% cursos.forEach(curso => { %>
                                <option value="<%= curso.cod_curso %>"><%= curso.nome_curso %> - <%= curso.turno %></option>
                            <% }); %>
                        </select>
                    </div>

                    <div class="form-group w-50 mr-4">
                        <label for="cod_curso">Turma</label>
                        <select class="form-select w-100 h-50 text-muted" aria-label="Default select example" id="cod_turma" name="cod_turma" required>
                            <option selected>Selecione a Turma</option>
                        </select>
                    </div>

                    <div class="form-group w-50">
                        <label for="senha">Senha Padrão</label>
                        <input type="password" class="form-control w-100" id="senha" name="senha" required> 
                    </div>
                </div>

                <div class="d-flex">
                    <div class="form-group w-50 mr-4">
                        <label for="cod_genero">Gênero</label>
                        <select class="form-select w-100 h-50 text-muted" aria-label="Default select example" id="cod_genero" name="cod_genero" required>
                            <option selected>Selecione o Gênero</option>
                            <% genero.forEach(genero => { %>
                                <option value="<%= genero.cod_genero %>"><%= genero.nome_genero %></option>
                            <% }); %>
                        </select>
                    </div>                    
                </div>

                <div class="form-group w-100">
                    <label for="tipo_aluno">Tipo de Aluno</label>
                    <select class="form-select w-50 h-50 text-muted" id="tipo_aluno" name="tipo_aluno" onchange="toggleFields()" required>
                        <option selected>Selecione o Tipo de Aluno</option>
                        <option value="responsavel">Aluno Menor de Idade</option>
                        <option value="empresa">Aluno de Empresa</option>
                        <option value="solo">Aluno Maior de Idade</option>
                    </select>
                </div>

                <div class="mt-5" id="fields_responsavel" style="display: none;">
                    <h4 class="mb-3">Dados do Responsável</h4>
                    <div class="d-flex">
                        <div class="form-group w-50 mr-4">
                            <label for="nome_resp">Nome do Responsável</label>
                            <input type="text" class="form-control w-100" id="nome_resp" name="nome_resp">
                        </div>

                        <div class="form-group  w-75 mr-4">
                            <label for="email_resp">Email do Responsável</label>
                            <input type="email" class="form-control w-100" id="email_resp" name="email_resp">
                        </div>

                        <div class="form-group w-50 ">
                            <label for="tel_resp">Telefone do Responsável</label>
                            <input type="text" class="form-control w-100" id="tel_resp" name="tel_resp">
                        </div>
                    </div>
                </div>

                <div class="mt-5" id="fields_empresa" style="display: none;">
                    <h4 class="mb-3">Dados da Empresa</h4>
                    <div class="d-flex">
                        <div class="form-group w-50 mr-4">
                            <label for="nome_empresa">Nome da Empresa</label>
                            <input type="text" class="form-control w-100" id="nome_empresa" name="nome_empresa">
                        </div>

                        <div class="form-group  w-75 mr-4">
                            <label for="email_empresa">Email da Empresa</label>
                            <input type="email" class="form-control w-100" id="email_empresa" name="email_empresa">
                        </div>

                        <div class="form-group w-50 ">
                            <label for="tel_empresa">Telefone da Empresa</label>
                            <input type="text" class="form-control w-100" id="tel_empresa" name="tel_empresa">
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-red btn-lg">Cadastrar Aluno</button>
                </div>
            </form>
        </div>
    </div>

    <%- include('../../partials/footer') %>

    <script>
    function toggleFields() {
        const tipoAluno = document.getElementById('tipo_aluno').value;
        document.getElementById('fields_responsavel').style.display = 'none';
        document.getElementById('fields_empresa').style.display = 'none';

        if (tipoAluno === 'responsavel') {
            document.getElementById('fields_responsavel').style.display = 'block';
        } else if (tipoAluno === 'empresa') {
            document.getElementById('fields_empresa').style.display = 'block';
        }
    }

    function updateTurmas() {
    const cursoId = document.getElementById('cod_curso').value;

    // Faz uma requisição para obter as turmas do curso selecionado
    fetch(`/turmas/${cursoId}`)
        .then(response => response.json())
        .then(turmas => {
            const turmaSelect = document.getElementById('cod_turma');
            turmaSelect.innerHTML = '<option selected>Selecione a Turma</option>'; // Limpa opções existentes

            turmas.forEach(turma => {
                const option = document.createElement('option');
                option.value = turma.cod_turma;
                option.textContent = turma.nome_turma; // Ajuste conforme a coluna que contém o nome da turma
                turmaSelect.appendChild(option);
            });
        })
        .catch(error => console.error('Erro ao carregar turmas:', error));
}

    </script>
</body>
