<!DOCTYPE html>
<html lang="pt-br">

<%- include('../../partials/head', { title: 'Resultados Encontrados' }) %>
    <%- include('../../partials/headerGestao', { activePage: '' }) %>

        <body>
            <div class="container-sm flex-column p-5" style="width: 80%; min-height: 83.1vh;">

                <div class="card shadow w-100 p-4 h-15 mb-3">
                    <h2 style="font-style: italic; margin-left: 20px;">Resultados para:</h2>
                    <p style="margin-left: 20px;">
                        <%= query %>
                    </p>
                </div>

                <div class="d-flex justify-content-between">

                    <!-- Alunos Encontrados -->
                    <div class="card p-5 d-flex flex-column w-100 mr-4 shadow">
                        <h2 class="d-flex" style="font-style: italic;">Alunos Encontrados</h2>
                    <% if (alunos.length > 0) { %>
                        <table class="table mt-1">
                            <thead>
                                <tr>
                                    <th scope="col">Aluno</th>
                                    <th scope="col">Telefone</th>
                                    <th scope="col">Situação</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                    <% alunos.forEach(aluno=> { %>
                                        <tr>
                                            <td>
                                                <%= aluno.nome_aluno %>
                                            </td>
                                            <td>
                                                <%= aluno.tel_aluno %>
                                            </td> <!-- Substitua 'telefone' pela coluna correspondente -->
                                            <td>
                                                <% if (aluno.saidas_count>= 15) { %>
                                                    <!-- Ícone de alerta vermelho se o aluno tiver mais de 5 saídas -->
                                                    <i class="bi bi-exclamation-triangle-fill"
                                                        style="color: #ff3a30;"></i>
                                                    <% } else if (aluno.saidas_count> 5) { %>
                                                        <!-- Ícone amarelo se o aluno tiver entre 1 e 5 saídas -->
                                                        <i class="bi bi-dash-circle-fill" style="color: #ffcc00;"></i>
                                                        <% } else if (aluno.saidas_count <=5) { %>
                                                            <!-- Ícone verde se o aluno não tiver saídas -->
                                                            <i class="bi bi-check-circle-fill"
                                                                style="color: #34c759;"></i>
                                                            <% } %>
                                            </td>
                                            <td><a href="/alunoGestao?rm=<%= aluno.rm %>"><i
                                                        class="bi bi-chevron-compact-right text-dark"></i></a></td>
                                        </tr>
                                        <% }) %>
                                            <% } else { %>
                                                <tr>
                                                    <td colspan="4">Nenhum aluno encontrado.</td>
                                                </tr>
                                                <% } %>
                            </tbody>
                        </table>
                    </div>

                    <!-- Cursos Encontrados -->
                    <div class="card shadow w-25">
                        <div class="card-text p-3">
                            <h5 class="card-title" style="font-style: italic; font-weight: bold;">Cursos Encontrados
                            </h5>
                            <div class="card-body">
                                <% if (cursos.length> 0) { %>
                                    <% cursos.forEach(curso=> { %>
                                        <h5 class="card-text">
                                            <%= curso.tipo_curso %>
                                        </h5>
                                        <p>
                                            <%= curso.nome_curso %>
                                        </p>
                                        <a href="/cursoDetalhes/<%= curso.id %>" class="btn btn-red btn-sm">Detalhes</a>
                                        <% }) %>
                                            <% } else { %>
                                                <p>Nenhum curso encontrado.</p>
                                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include('../../partials/footer') %>
        </body>

</html>