<!--Perfil do Aluno-->
<!DOCTYPE html>
<html lang="pt-br">

<%- include('../../partials/head', { title: 'Perfil' }) %>
  <%- include('../../partials/headerAluno', { activePage: 'perfil' }) %>
<style>
  @media (max-width: 768px) {
      .dividir {
        flex-direction: column;
      }

      .campo {
        flex: 1 1 100%; /* Cada campo ocupa 100% da linha no mobile */
      }

      .botoes {
       flex-direction: column;
      }
    }
</style>

    <body>
      <div class="container">
        <div class="card shadow m-5 d-flex justify-content-center align-items-center" style="width: 100%;">
          <div class="d-block justify-content-center">
            <img class="profilePicture mt-4" src="/images/user.png" alt="Foto de Perfil">
          </div>
          <h1 class="nome text-center font-italic font-weight-bold mt-3">
            <%= nome_aluno %>
          </h1>
          <div class="info">
            <div class="dividir d-flex justify-content-between">
              <div class="campo">
                <div class="card pb-2 pt-2 pl-2 pr-5">
                  <label for="formGroupExampleInput" class="form-label font-weight-bold">Curso</label>
                  <p>
                    <%= nome_curso %>
                  </p>
                </div>
              </div>

              <div class="campo">
                <div class="card pb-2 pt-2 pl-2 pr-5">
                  <label for="formGroupExampleInput" class="form-label font-weight-bold">CPF</label>
                  <p>
                    <%= cpf %>
                  </p>
                </div>
              </div>

              <div class="campo">
                <div class="card pb-2 pt-2 pl-2 pr-5">
                  <label for="formGroupExampleInput" class="form-label font-weight-bold">RM</label>
                  <p>
                    <%= rm %>
                  </p>
                </div>
              </div>

              <div class="campo">
                <div class="card pb-2 pt-2 pl-2 pr-5">
                  <label for="formGroupExampleInput" class="form-label font-weight-bold">Telefone</label>
                  <p>
                    <%= tel_aluno %>
                  </p>
                </div>
              </div>

              <div class="campo">
                <div class="card pb-2 pt-2 pl-2 pr-5">
                  <label for="formGroupExampleInput" class="form-label font-weight-bold">Gênero</label>
                  <p>
                    <%= genero %>
                  </p>
                </div>
              </div>

            </div>

            <div class="dividir d-flex justify-content-between">
              <div class="campo">
                <div class="card pb-2 pt-2 pl-2 pr-5">
                  <label for="formGroupExampleInput" class="form-label font-weight-bold">Turma</label>
                  <p>
                    <%= nome_turma %>
                  </p>
                </div>
              </div>

              <div class="campo">
                <div class="card pb-2 pt-2 pl-2 pr-5">
                  <label for="formGroupExampleInput" class="form-label font-weight-bold">Data de Nascimento</label>
                  <p>
                    <%= new Date(data_nasc).toLocaleDateString('pt-BR') %>
                  </p>
                </div>
              </div>

              <div class="campo">
                <div class="card pb-2 pt-2 pl-2 pr-5">
                  <label for="formGroupExampleInput" class="form-label font-weight-bold">E-mail</label>
                  <p>
                    <%= email_aluno %>
                  </p>
                </div>
              </div>

              <div class="campo">
                <div class="card pb-2 pt-2 pl-2 pr-5">
                  <label for="formGroupExampleInput" class="form-label font-weight-bold">E-mail do Responsável</label>
                  <p>
                    <%= email_resp %>
                  </p>
                </div>
              </div>

            </div>

            <div class="dividir">
              <div class="campo">
                <div class="card pb-2 pt-2 pl-2 pr-5 mr-3">
                  <label for="formGroupExampleInput" class="form-label font-weight-bold">Nome do Responsável</label>
                  <p>
                    <%= nome_resp %>
                  </p>
                </div>
              </div>

              <div class="campo">
                <div class="card pb-2 pt-2 pl-2 pr-5">
                  <label for="formGroupExampleInput" class="form-label font-weight-bold">Telefone do Responsável</label>
                  <p>
                    <%= tel_resp %>
                  </p>
                </div>
              </div>

            </div>

            <div class="botoes mb-5">
              <a href="/mudarSenhaAluno" type="button" class="btn btn-red btn-lg">Alterar senha</a>
              <a href="/sair" type="button" class="btn btn-red btn-lg">Sair da conta</a>
            </div>
          </div>
        </div>
      </div>


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
      <%- include('../../partials/footer') %>
    </body>

</html>